{% extends 'base.html.twig' %}

{% block title %}Addressbook{% endblock %}

{% block body %}
    <h1>Addressbook</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address Line 1</th>
                <th>Zip</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone Number</th>
                <th>Birthday</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.addressLine1 }}</td>
                <td>{{ contact.zip }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.country }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.birthday ? contact.birthday|date('Y-m-d') : '' }}</td>
                <td><img src="{{ 'http' in contact.picture ? contact.picture : '/images/contacts/' ~contact.picture }}" width="100" height="100" alt=""></td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('contact_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
