{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ contact.lastName }}</td>
            </tr>
            <tr>
                <th>AddressLine1</th>
                <td>{{ contact.addressLine1 }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ contact.zip }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ contact.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ contact.country }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ contact.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ contact.birthday ? contact.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ contact.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_index') }}">back to list</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
